@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html{
    height: 100%;
}
body{
    text-align: center;
    background: linear-gradient(0deg, rgba(21,21,23,1) 34%, rgba(77,68,63,1) 65%); 
    background-repeat: no-repeat;
    background-color: rgba(21,21,23,1);
    margin: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}
#profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


#LinkedIN{
    padding-top: 10px;
    width: 100;
    height: auto;
}

#about{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    color: whitesmoke;
    padding-left: 20;
    padding-bottom: 50;
    padding-top:30;
}
#description{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
    text-align: left;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    color: whitesmoke;
    padding-bottom: 50;
    padding-left: 20;
    
}
#sub-header{
    background-color: #4d443f;
    
}

a{
    color:whitesmoke;
    text-decoration: none;
    transition: color .15s linear;}
a:hover{
    color: gray;}
h2{
    color: whitesmoke;
}

footer{
    margin-top: auto;
    width: 100%;
    background:black;   
    padding-top: 10;
    padding-bottom: 5;
    
}

header{
    height: 64px;
    background-color: #4d443f;
    
}
.nav { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: rgb(77,68,63);
    background: linear-gradient(180deg, rgba(77,68,63,1) 15%, rgba(77,68,63,0.9) 100%); 
    text-align: left;
    z-index: 1;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    overflow: hidden;
    
    
  }
.nav:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    
}
  
  .nav ul {
    list-style: none;
    text-align: left;
    white-space: nowrap;
    padding-right: 32px;
    display: inline-block;
    

  }
  
  .nav ul a {
    font-size: 25px;
    color: white;
    padding: 19px 16px;

    
  }
  
  .nav ul a:hover {
    background: rgba(255,255,255, 0.2);
    text-shadow: 0 1px 5px rgba(0,0,0,0.15);
    transition: .2s linear;
  }
  

#Name{
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    color: whitesmoke;
    text-transform:uppercase;
    font-size: 50px;
    padding-bottom: 20px;
}


#profile-pic{
    padding: 20;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

  textarea[name = message] {
    max-width: 800;
    min-width: 800;
    height: 200;
    margin-bottom: 30;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
    font-size: 14;
    
    
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 14px 20px;
    margin-bottom: 20;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    
  }
  
  input[type=submit]:hover {
    background-color: #39853c;
    
  }

a.nav-link{
    padding-right: 10;
}
#Name{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 800px;
    width: 100%;
    margin: 0 auto;
    color: whitesmoke;
    padding-left: 20;
    text-transform:uppercase;
    font-size: 50;
}
#nav-list-head{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 800px;
    width: 100%;
    margin: 0 auto;
    color: whitesmoke;
    padding-top: 30;
    padding-left: 20;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

  textarea[name = message] {
    max-width: 800;
    min-width: 800;
    height: 200;
    margin-bottom: 30;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
    font-size: 14;
    
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 14px 20px;
    margin-bottom: 20;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    
  }
  
  input[type=submit]:hover {
    background-color: #39853c;
    
  }
